{
  "presets": [
    ["@babel/preset-env",{
      "targets": {
          "chrome": "58",
          "ie": "10"
      },
      "useBuiltIns": "usage" //这样配置之后就不用在文件中导入import "@babel/polyfill";
  }] ,
  "@babel/react"
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "corejs": 3,
      }],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css" // `style: true` 会加载 less 文件
      }
    ]
  ]
}
